body {
  background-color: black;
  padding: 150px;
  color: white;
}

.text-orange {
  color: #f09024;
}

/* Calc Form */
.main-calc {
  margin-bottom: 30px;
  background-color: #141a24;
  border: 1px solid #2f3743;
  border-radius: 25px;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: normal;
  font-size: unset;
  text-align: unset;
  z-index: 16;
  position: relative;
  padding: 20px;
}
.main-calc__over.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: rgba(47, 55, 67, 0.5);
  height: calc(100% - 192px);
  z-index: 10;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
}
.main-calc__over_pdf {
  background: rgba(47, 55, 67, 0.85);
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 30px;
  margin: 20px;
  text-align: center;
  position: sticky;
  top: 50%;
}
.main-calc__wrapper {
  padding: 20px;
}
.main-calc__form {
}
.main-calc__title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  margin: 0;
  position: relative;
  cursor: pointer;
}
.main-calc__subtitle {
  font-size: 16px;
  margin-top: 10px;
  color: #f09224;
}
.main-calc__subtitle button {
  text-decoration: underline;
  font-weight: 700;
}
.main-calc__title.label-text {
  color: #b1b4bb;
}
.main-calc__title.label-text.active {
  color: white;
}
.main-calc__title.label-text .main-calc__title_icon {
  background-color: #b1b4bb;
}
.main-calc__title.label-text.active .main-calc__title_icon {
  background-color: #f09123;
}
.main-calc__title._small {
  font-size: 30px;
}
.main-calc__title_icon {
  width: 4px;
  height: 28px;
  background-color: #f09123;
}
.main-calc__title_text {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-calc__divider {
  height: auto;
  border-top: 2px solid #2f3743;
  width: 100%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-calc__from-to {
  display: grid;
  justify-content: flex-start;
  align-items: flex-end;
  grid-template-columns: 1fr auto 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.main-calc__from-to_to .tooltip {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border: none;
}
.main-calc__from-to_to .calc-tooltip {
  left: initial;
  right: 0;
  min-width: 260px;
  width: 80%;
}

.main-calc__from-to_arrow {
  display: flex;
  width: 25px;
  height: 25px;
  margin-bottom: 8px;
}

.label-text.active {
  color: white;
}
.label-text {
  color: #b1b4bb;
  position: relative;
}
.main-calc label {
  margin: 0;
}

.main-calc-select {
  display: flex;
  /*align-items: center;*/
  justify-content: space-between;
  gap: 5px;

  width: 100%;
  background-color: #141a24;
  border: 1px solid #2f3743;
  border-radius: 15px;
  padding: 10px;
}
.main-calc-select__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  background-color: #141a24;
  border-radius: 7px;
  cursor: pointer;
  height: 100%;
  gap: 5px;
  border: 1px solid transparent;
}
.main-calc-select__btn_title {
  font-size: 20px;
  font-weight: 700;
}
.main-calc-select__btn_subtitle {
  color: #f09024;
  font-size: 14px;
  font-weight: 700;
}
.main-calc-select__label {
  width: 100%;
}
.main-calc-select__input {
  display: none;
}
.main-calc-select__input:checked ~ .main-calc-select__btn {
  background-color: #232933;
  border: 1px solid #646c78;
  box-sizing: border-box;
}

.main-calc-first {
  margin-top: 20px;
}
.main-calc-first__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-calc-first__choose {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 50px;
  flex-wrap: wrap;
}
.main-calc-first__choose_block {
  display: flex;
  justify-content: space-between;
  width: max-content;
  max-width: max-content;
  font-family: "Montserrat", sans-serif;
  gap: 40px;
  font-weight: 700;
}

.main-calc-code__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.main-calc-code__container .group-input:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
}
.main-calc-code__container .group-input:nth-child(2) {
  grid-column-start: 4;
  grid-column-end: 6;
}

.main-calc-code__block {
  width: 100%;
}

.arrow-to {
  width: auto;
  height: 25px;
}
.arrow-to path {
  stroke: #646c78;
  fill: #646c78;
  height: 25px;
}
.arrow-to.active path {
  stroke: #f09123;
  fill: #f09123;
}

.main-calc__from-to_check {
  margin-bottom: 9px;
}
.main-calc-bordered {
  width: 100%;
  border: 2px solid #2f3743;
  border-radius: 10px;
  display: flex;
  margin-top: 10px;
  position: relative;
  padding: 30px 25px;
}

.main-calc-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: auto !important;
}
.main-calc-parametr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
}
.main-calc-parametr__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 20px;
  height: auto;
  position: relative;
  z-index: 2;
  width: 100%;
}
.main-client-requisites-parametr__main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  height: auto;
  width: 100%;
}
.main-calc-parametr__main_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0;
}
.main-calc-parametr__secondary_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-end;
  gap: 20px;
  width: 100%;
}
.main-calc-parametr__secondary_block .group-input:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-content: center;
  height: 100%;
}
.main-calc-parametr__secondary_block .group-input:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
}
.main-calc-parametr__secondary_block .group-input:nth-child(4) {
  grid-column-start: 3;
}
.main-calc-parametr__secondary_block .main-calc-checkbox__form {
  grid-column: 5 / 6;
}
.close-cross {
  position: absolute;
  z-index: 3;
  top: -15px;
  right: -15px;
  display: none;
  cursor: pointer;
}
.close-cross:hover .cross-path {
  fill: #fe8181;
}
.close-cross:hover .cross-back,
.close-cross:hover .cross-border {
  fill: white;
}

/*Packing*/
.main-calc-packing {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid #2f3743;
  background-color: #141a24;
}
.main-calc-packing__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 15px;
  cursor: pointer;
}
.main-calc-packing__header_btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-calc-packing__header_text {
}
.main-calc-packing__header_icon {
  transform: rotate(-90deg);
}
.main-calc-packing__header.clicked .main-calc-packing__header_icon {
  transform: rotate(0deg);
}

.main-calc-packing__content {
  border-top: 2px solid #2f3743;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 20px 25px;
}

.main-calc-packing__content.active {
  display: grid;
}

.main-calc-packing__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.main-calc-packing__item_radio {
  display: none;
}
.main-calc-packing__item_img {
  width: 100%;
  height: 160px;
  background-color: #fff;
  border-radius: 15px;
  object-fit: contain;
  padding: 20px;
}
.main-calc-packing__item_title {
  text-align: center;
}

.main-calc-packing__item_radio:checked ~ .main-calc-packing__item_icon,
.main-calc-packing__item:hover .main-calc-packing__item_icon {
  display: flex;
}

.main-calc-packing__item_icon {
  background-color: #f7941d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -15px;
}
.main-calc-packing__item_icon svg {
  position: relative;
  right: 2px;
}
.main-calc-packing {
}

/* Main Calc Buy Info */
.main-calc-buy-info {
  width: 100%;
  display: flex;
  gap: 25px;
  padding: 25px;
}
.main-calc-buy-info__block {
}
.main-calc-buy-info__photo {
}
.main-calc-buy-info__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.main-calc-buy-info {
}

.main-calc-buy-info__form .group-input:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.main-calc-buy-info__form .group-input:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 5;
}
.main-calc-buy-info__form .group-input:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 5;
}

/* Hidden */
.hidden {
  display: none;
}
.hidden.active {
  display: flex;
}

/*Radio*/
.main-calc-radio {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 3;
}
.main-calc-radio__title {
  font-size: 18px;
}
.main-calc-radio__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.main-calc-radio__mark {
  position: relative;
  height: 21px;
  width: 21px;
  background-color: white;
  border-radius: 6px;
}
.main-calc-radio__input:checked ~ .main-calc-radio__mark {
  background-color: #f7941d;
}
.main-calc-radio__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.main-calc-radio__input:checked ~ .main-calc-radio__mark:after {
  display: block;
}
.main-calc-radio__mark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: white;
}
.main-calc-radio:hover svg {
  opacity: 1;
  visibility: visible;
}

/*Checkbox*/
.main-calc-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-calc-checkbox__title {
  font-size: 16px;
  color: white;
}
.main-calc-checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.main-calc-checkbox__mark {
  position: relative;
  height: 21px;
  width: 21px;
  background-color: white;
  border-radius: 5px;
}
.main-calc-checkbox__input:checked ~ .main-calc-checkbox__mark {
  background-color: #f7941d;
}

.main-calc-checkbox__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.main-calc-checkbox__input:checked ~ .main-calc-checkbox__mark:after {
  display: block;
}
.main-calc-checkbox__mark:after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: solid white;
  border-radius: 2px;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, 0) rotate(45deg);
}
.main-calc-checkbox:hover svg {
  opacity: 1;
  visibility: visible;
}
.main-calc-checkbox__form {
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  width: max-content;
}
.main-calc-checkbox__form .main-calc-checkbox__mark {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.main-calc-checkbox__form .main-calc-checkbox__mark:after {
  width: 10px;
  height: 20px;
  border-width: 0 4px 4px 0;
  border-radius: 3px;
}
.main-calc-checkbox__form-2 {
  flex-direction: row;
  align-items: center;
}
.main-calc-checkbox__form-2 .main-calc-checkbox__mark {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
.main-calc-checkbox__form-2 .main-calc-checkbox__mark:after {
  width: 7px;
  height: 14px;
}

.main-calc__from-to_check .calc-tooltip {
  max-width: 200px;
}

.main-calc-checkbox__form .calc-tooltip {
  min-width: max-content;
}

/*Group Input*/
.group-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.group-input__title {
  font-size: 16px;
  color: white;
}
.group-input__input {
  position: relative;
  display: flex;
}
.group-input__input input,
.group-input__inputs input {
  width: 100%;
  background-color: #2f3743;
  border-radius: 10px;
  color: white;
  padding: 10px 45px 10px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: none;
}
.group-input__input input:focus,
.group-input__inputs input:focus {
  border: 1px solid #f09224;
}
.group-input__input input::placeholder,
.group-input__inputs input::placeholder {
  color: #82878e;
  font-size: 14px;
  text-transform: capitalize;
}

.group-input__inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.group-input__inputs input::placeholder {
  text-transform: lowercase;
}
.group-input__input_svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.group-input__param {
  position: absolute;
  right: 1px;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9.5px 15px;
  border-radius: 0 9px 9px 0;
  background-color: #5a667d;
  color: #f09123;
}
.group-input__inputs.volume input {
  width: 60px;
  padding: 10px;
  text-align: center;
}
.volume-cross {
  width: 0px;
  height: 8px;
  color: #f09123;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 11px;
}
.volume-equals {
  color: #f09123;
  font-size: 22px;
}
.volume-total {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  position: relative;
}
.volume-block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.group-input__inputs.volume .volume-total__result {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.volume-total__m3 {
  color: #f09123;
  font-size: 15px;
}

/*Increment*/
.group-input-increment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  /*max-width: 120px;*/
}
.group-input-increment__minus,
.group-input-increment__plus {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #b1b4bb;
  font-weight: 700;
  padding: 5px 8px;
  font-family: sans-serif;
}
.group-input-increment__minus {
  left: 2px;
}
.group-input-increment__plus {
  right: 2px;
}
.group-input-increment input {
  width: 100%;
  text-align: center;
  height: 40px;
  background-color: #2f3743;
  border-radius: 10px;
  color: white;
  padding: 5px 25px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: none;
}
.group-input-increment input:focus {
  border: 1px solid #f09123;
}
.group-input.active .group-input-increment__minus,
.group-input.active .group-input-increment__plus {
  color: #f09123;
}

/*Switcher*/
.switch-btn {
  width: max-content;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 5px 20px;
  cursor: pointer;
}
.switch-btn__text {
  display: flex;
  color: #f09123;
}
.switch-btn__text._first {
  grid-row-start: 1;
  grid-row-end: 2;
}
.switch-btn__text._second {
  grid-row-start: 2;
  grid-row-end: 3;
}
.switch-btn__block {
  display: flex;
  align-items: center;
  width: 30px;
  height: 60px;
  border-radius: 30px;
  background-color: #f09123;
  transition: 0.3s;
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
}

.switch-btn__block::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 35px;
  left: 5px;
  transition: 0.3s;
}
.switch-btn__input {
  display: none;
}
.switch-btn__input:checked ~ .switch-btn__block.active {
  background-color: #f09123;
}
.switch-btn__input:checked ~ .switch-btn__block::before {
  top: 5px;
}
.switch-btn__input:not(:checked) ~ .switch-btn__text._first {
  color: white;
}
.switch-btn__input:checked ~ .switch-btn__text._second {
  color: white;
}
.switch-btn__input:disabled ~ .switch-btn__text.active,
.switch-btn__input:disabled ~ .switch-btn__text._first.active {
  color: grey;
}
.switch-btn__input:disabled ~ .switch-btn__block.active {
  background-color: grey;
}

/*Buttons*/
.main-calc-button {
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  background-color: #f09123;
  color: white;
}
.main-calc-button.active {
  background-color: #2f3743;
  color: #b1b4bb;
}
.main-calc-button:hover {
  color: white;
  background-color: #f0912390;
}
.main-calc-button:disabled {
  color: #b1b4bb;
  pointer-events: none;
  background-color: grey;
}
.main-calc-button__upload_icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}

/*DropDown*/
.dropdown.active {
  background-color: #5a667d;
}
.dropdown {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 38px;
  padding: 5px;
  background-color: #646c78;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  cursor: pointer;
}
.dropdown-toggle.active {
  color: #f09123;
  background-color: #5a667d;
}
.dropdown-toggle {
  height: 100%;
  background-color: #646c78;
  color: #b1b4bb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 8px;
}
.dropdown-list {
  position: absolute;
  top: 38px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #5a667d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
  z-index: 2;
  width: 100%;
}
.dropdown-list li {
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 100%;
  justify-content: center;
}
.dropdown-list-currency-arrow {
  width: 11px;
  height: auto;
}

/*Upload*/
.main-calc-upload {
  min-width: 135px;
  width: 150px;
  height: 150px;
  background-color: #1a212d;
  border: 3px dashed #8c8f95;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.main-calc-upload__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-calc-upload__plus {
  width: 30px;
  height: 30px;
  background-color: #2f3743;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b1b4bb;
  font-size: 20px;
  font-weight: bold;
}
.main-calc-upload__minus {
}
.main-calc-upload__item {
  max-width: 100%;
  max-height: 100%;
  display: none;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

/* Main Calc Result */
.main-calc-result {
  margin-top: 30px;
  display: none;
}
.main-calc-result.active {
  display: block;
}
.main-calc-result__subtitle {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 30px;
}
.main-calc-result__block {
  background: #2f3743;
  padding: 10px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.main-calc-result__column {
  display: grid;
  grid-template-rows: 100px auto;
  gap: 10px;
}
.main-calc-result__cell {
  background-color: #3e4857;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.price-cell {
  background: #212731;
  padding: 5px;
}
.cargo-cell {
}
.cargo-cell__title {
  font-weight: 600;
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
}
.cargo-cell .tooltip {
  right: 5px;
  top: 5px;
}
.cargo-cell .calc-tooltip {
  top: 0;
  left: calc(100% + 5px);
}
.main-calc-result__currency {
  display: flex;
  gap: 15px;
}
.main-calc-result__currency_item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.main-calc-result__currency_num {
  background: #f09123;
  color: white;
  border-radius: 4px;
  padding: 3px 4px;
  width: 55px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
.main-calc-result__currency_sign {
  color: #f09123;
}
.main-calc-result__currency_tooltip {
  top: 5px;
  right: 5px;
}
.main-calc-result__currency_tooltip .calc-tooltip {
  min-width: max-content;
  top: 0;
  left: calc(100% + 5px);
}
.main-calc-result__btn {
  background: grey;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
}
.main-calc-result__getblock {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main-calc-result__price {
  width: 100%;
  height: 100%;
}
.main-calc-result__price_block {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main-calc-result__price_block:hover {
  background-color: #f09123;
  color: white;
  cursor: pointer;
}
.main-calc-result__price_block:hover .main-calc-result__currency_sign,
.main-calc-result__price_block:hover .main-calc-result__all_title,
.main-calc-result__price_block:hover .main-calc-result__all_title_end {
  color: white;
}

.main-calc-result__all_cell {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}
.main-calc-result__all_cell_end {
  margin-top: 5px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.main-calc-result__all_cell_end_block {
  justify-content: space-between;
  width: 100%;
}
.main-calc-result__all_title {
  font-size: 14px;
  color: #c0c5cc;
}
.main-calc-result__all_title_end {
  color: #c0c5cc;
}
.main-calc-result__all_cell > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-calc-result__all_cell div span:first-child {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.main-calc-result__all_cell_end div span:first-child {
  font-size: 18px;
}

.main-calc-result__price_all {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
}
.main-calc-result__price_kg {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.main-calc-result__price_input {
  display: none;
}

.main-calc-result__price_currency {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  font-size: 19px;
}
.main-calc-result__price_currency ._dollar {
  color: #f09023;
}
.main-calc-result__price_text {
  font-size: 14px;
  color: #b1b4bb;
}
.main-calc-result__price_input:checked ~ .main-calc-result__price_block {
  background-color: #f09123;
  color: white;
}
.main-calc-result__price_input:checked
  ~ .main-calc-result__price_block
  .main-calc-result__all_title_end,
.main-calc-result__price_input:checked
  ~ .main-calc-result__price_block
  .main-calc-result__all_title {
  color: white;
}

.main-calc-result__price_input:checked
  ~ .main-calc-result__price_block
  .main-calc-result__currency_sign {
  color: white;
}

.main-calc-result__price_block:hover .main-calc-result__price_currency ._dollar,
.main-calc-result__price_block:hover .main-calc-result__price_text,
.main-calc-result__price_input:checked
  ~ .main-calc-result__price_block
  .main-calc-result__price_currency
  ._dollar,
.main-calc-result__price_input:checked
  ~ .main-calc-result__price_block
  .main-calc-result__price_text {
  color: white;
}
/* Custom Select */
.calc-select {
  position: relative;
  width: 100%;
}

.calc-select__selected {
  cursor: pointer;
  width: 100%;
  background-color: #2f3743;
  border-radius: 10px;
  color: white;
  padding: 10px 30px 10px 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.calc-select__selected .tooltip {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.calc-select__selected .calc-tooltip {
  min-width: 200px;
  max-width: 220px;
  left: initial;
  right: 0;
}

.calc-select__selected.active {
  border: 1px solid #de4646;
}

.calc-select__selected > span:first-child {
  /* white-space: nowrap; */
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.calc-select__selected_icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.calc-select__options {
  display: none; /* Скрываем опции по умолчанию */
  background-color: #2f3743;
  border-radius: 0 0 10px 10px;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: calc(100% - 10px);
  padding-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}
.calc-select__options::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
}

/* Track */
.calc-select__options::-webkit-scrollbar-track {
  background: #2f3743;
}

/* Handle */
.calc-select__options::-webkit-scrollbar-thumb {
  background: #f09123;
}

.calc-select__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 15px;
  cursor: pointer;
}

.calc-select__label > .tooltip {
  right: 10px;
  display: none;
}
.calc-select__label .calc-tooltip {
  left: calc(100% + 5px);
  top: 0;
}

.selected-tooltip {
  right: 10px;
}

.calc-select__input {
  display: none;
}

/* Currency Select */
.currency-select {
  position: absolute;
  right: 1px;
  width: 60px;
  top: 1px;
}

.currency-select__list {
  display: none;
  background-color: #5a667d;
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: calc(100% - 10px);
  padding-top: 10px;
  border-radius: 0 0 9px 9px;
}

.currency-select__selected {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 2px 15px;
  border-radius: 0 9px 9px 0;
  background-color: #5a667d;
  color: #f09123;
  font-size: 18px;
  font-weight: bold;
  gap: 10px;
}

.custom-select__label {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  border-radius: 9px;
  background-color: #5a667d;
  color: #f09123;
  cursor: pointer;
  font-size: 18px;
}

.custom-select__label:hover {
  background: #f09123;
  color: white;
}

.custom-select__input {
  display: none;
}

/*Tooltip*/
.tooltip {
  position: absolute;
  z-index: 5;
}
.tooltip-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #f09123;
  color: white;
  border-radius: 50%;
  z-index: 2;
  font-size: 12px;
}
.tooltip-icon:hover ~ .calc-tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .calc-tooltip {
  visibility: visible;
  opacity: 1;
}
.calc-tooltip {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: #141a24;
  border: 1px solid #868c94;
  padding: 15px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  font-size: 11px;
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  transition: 300ms ease;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
}
.calc-tooltip__title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
  line-height: 1.2;
}
.calc-tooltip__text a {
  font-weight: 700;
  text-decoration: underline;
  color: white;
}
.calc-tooltip__link {
  text-decoration: underline;
  color: #f7951d;
}
.main-calc-radio:hover .calc-tooltip,
.main-calc-checkbox:hover .calc-tooltip,
.main-calc__title:hover .calc-tooltip,
.help:hover .calc-tooltip {
  visibility: visible;
  opacity: 1;
}

.main-calc-parametr .calc-tooltip {
  bottom: calc(100% + 10px);
  top: initial;
  left: inherit;
  right: 0;
  min-width: 250px;
}

.calc-by-custom {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Error */
.error-message,
.error-message-category {
  position: absolute;
  bottom: -19px;
  font-size: 13px;
  font-weight: 400;
  color: #de4646;
  font-family: "Roboto Condensed", sans-serif;
  left: 0;
}

.group-input__input input.error-input {
  border: 1px solid #de4646;
}

/* Mobile */
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }

  .main-calc {
    padding: 10px;
  }

  .main-calc__wrapper {
    padding: 10px;
  }

  .main-calc-select {
    width: 100%;
    justify-content: space-evenly;
    gap: 5px;
  }

  .main-calc-select__btn {
    width: auto;
  }

  .main-calc-packing__item_img {
    height: 120px;
  }

  .main-calc-first__choose {
    flex-wrap: wrap;
    gap: 30px;
  }

  .main-calc__from-to {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .main-calc-first__choose_block {
    flex-direction: column;
    gap: 20px;
  }

  .main-calc-parametr__main {
    grid-template-columns: 1fr;
    gap: 30px 15px;
  }

  .main-calc__from-to_arrow {
    display: none;
  }

  .group-input-increment {
    width: 100%;
  }

  .main-calc-parametr__secondary_block {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: initial;
  }
  .main-calc-packing__content {
    grid-template-columns: 1fr 1fr;
  }
  .main-calc-parametr__secondary_block .group-input:first-child {
    grid-column-end: inherit;
  }

  .calc-by-custom {
    grid-column-end: initial;
  }

  .main-calc-packing {
    padding: 0;
  }

  .main-calc-code__container {
    display: flex;
    flex-direction: column;
  }

  .main-calc-buy-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .main-calc-upload {
    height: 150px;
  }

  .main-calc-buy-info__form {
    grid-template-columns: 1fr 1fr;
  }

  .main-calc-buy-info__form .group-input:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main-calc-buy-info__form .group-input:nth-child(6) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main-calc-buy-info__form .group-input:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* .main-calc-result */
  .main-calc-result__block {
    /* overflow-x: scroll; */
    display: flex;
    flex-direction: column;
  }
  .main-calc-result__currency {
    flex-direction: column;
  }
  .volume {
    display: flex;
    flex-direction: column;
    align-items: initial;
    gap: 15px;
  }
  .main-calc-bordered {
    padding: 20px 15px;
  }
  .main-calc-packing__header_text {
    display: none;
  }

  .main-calc-result__all_cell {
    flex-direction: column;
  }
}
